@{
    ViewData["Title"] = "Blog";
}

<head>
    <!-- 2023-01-29 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enrique Perez</title>
    <meta name="generator" content="Org Mode" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/code.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
</head>
<body>
    <div id="preamble" class="status">
        <header>
            <h1 class="title m-4">Enrique Perez Cozar</h1>
            <p class="subtitle">Engineer in Robotics, Electronics, and Mechatronics | AI | Vision </p>
            <p class="sitemap">
                <a href="/">About</a> |
                <a href="">Experience</a> |
                <a href="https://github.com/enriquetracker">Github</a>
            </p>
        </header>
    </div>
    <div id="content" class="content">


        <p>
            Projects:
        </p>

        <ul class="org-ul">
            <li>Robot station for the sorting and storage of medications</li>
            <li>Autonomous broccoli harvesting robot (vision)</li>
            <li>Automatic assembly station for lithium cells</li>
            <li>Sorting and Palletizing Station for Boxes</li>
            <li>Simulation of Multiple Object Pickup Following a Conveyor Path</li>
            <li>Manipulation and Cutting Station for Hydrogen Cell Sheets</li>
        </ul>

    </div>
    <div id="postamble" class="status">
        <p>Contact: enriqueperez4esof@gmail.com</p>
    </div>
</body>
