@{
    ViewData["Title"] = "Home Page";
}



<head>
    <!-- 2023-01-29 -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Enrique Perez</title>
    <meta name="generator" content="Org Mode" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/code.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">
</head>
<body>
    <div id="preamble" class="status">
        <header>
            <h1 class="title m-4" >Enrique Perez Cozar</h1>
            <p class="subtitle">Engineer in Robotics, Electronics, and Mechatronics | AI | Vision </p>
            <p class="sitemap">
                <a href="">About</a> |
                <a href="Home/Blog">Experience</a> |
                <a href="https://github.com/enriquetracker">Github</a>
            </p>
        </header>
    </div>
    <div id="content" class="content">

        <figure id="org82cdd10">
            <img src="./Images/spaceman.png" class="profile-img">

        </figure>


        <p>
            Hello! I'm Enrique Perez Cozar, an Engineer deeply passionate about Robotics and AI. With a knack for blending creativity 
            and logic, I bring a friendly and sociable vibe to collaboration. My expertise lies in <i>automation and industrial robotics</i>,altough I have experience in 
            <i>researching proyects and computer vision</i> too. Check out more about me in my <a href="https://github.com/enriquetracker">Github</a>.

            Looking forward to the journey ahead!           
        </p>

        <p>
            Education:
        </p>

        <ul class="org-ul">
            <li>Degree in Robotics, Electronics and Mechatronics Engineering</li>
            <li>Master's degree in artificial intelligence</li>
        </ul>

        <p>
            I leave my CV and bid you farewell!
        </p>

        <ul class="org-ul">
            <li><a href="./resources/CV.pdf">Curriculum Vitae</a></li>
        </ul>
    </div>
    <div id="postamble" class="status">
        <p>Contact: enriqueperez4esof@gmail.com</p>
    </div>
</body>
